<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/auth.css" />
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
        <main>
        <% if (message) { %>
            <div>
                <%= message %>
            </div>
        <%}%>
        <form class="login-form" action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <div class="form-control">
                <label for="title">E-mail</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <button class="btn" type="submit">
               Signup
            </button>
        </form>

<%- include('../includes/end.ejs') %>